body{
    background-color: #1a1a1a;
}
#app{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
    "head head head"
    "side main aside"
    "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: auto 1fr 20vw;
    gap: 1vh;
}

#side-menu{
    grid-area: side;
    width: 5vw;
    background-color: brown;
    transition: width 0.3s ease;
}

#side-menu:hover{
    width: 10vw;
}

header {
    height: 8vh;
    grid-area: head;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    display: grid;
    grid-area: main;
    background-color: aqua;
    grid-template-rows: auto;
    gap: 1vh;
}

main > article{
    background-color: white;
    height: 40vh;
}

aside > article{
    background-color: white;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: auto;
    gap: 1vh;
    background-color: green;
}

footer{
    height: 10vh;
    grid-area: footer;
    background-color: yellow;
}